/* General */
html {
  scroll-behavior: smooth !important;
}
/* section spacing utils */
.section-spacing {
  margin-bottom: 100px;
}
.hero-spacing {
  margin-bottom: 200px;
}
/* end general */

/*==========
  Custom CSS 
=============*/
/* nav bar */
.navbar-brand img {
  height: 60px;
  width: 60px;
}
.brand img {
  height: 60px;
  width: 60px;
}
.brand img:hover {
  transform: translateY(-5px);
  transition: 0.5s ease all;
}

/* skills section */
.skills-cards {
  margin: auto;
  max-width: 690px;
}
.block {
  text-align: center;
  vertical-align: middle;
}
.circle {
  border: 3px solid #33b5e5;
  border-radius: 50%;
  color: white;
  height: 110px;
  width: 110px;
  font-weight: bold;
  display: table;
  margin: 20px auto;
  transition: 0.5s ease all;
}
.circle p {
  vertical-align: middle;
  display: table-cell;
}
.circle:hover {
  transform: translateY(-7px);
}

/* Contact me */
input,
textarea {
  color: white !important;
  border-color: #33b5e5 !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
}

::placeholder {
  color: #9e9e9e !important;
}

input[type='text']:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
/* EndContact me */
/*==========
  End Custom CSS 
=============*/

/* Custom Hover States */
#project-card:hover {
  transform: translateY(-5px);
  transition: 0.5s ease all;
}

#social-links i:hover {
  transform: translateY(-5px);
  transition: 0.5s ease all;
  color: #33b5e5 !important;
}

#btn:hover {
  color: white !important;
  background-color: #33b5e5 !important;
  transition: 0.5s ease all !important;
}

strong:hover {
  color: #33b5e5 !important;
  transition: 0.3s ease all !important;
}
strong a:hover {
  color: #33b5e5 !important;
  transition: 0.3s ease all !important;
}

/* End Custom Hover States */

/* JS fade in on scroll */
.fadeOut {
  transition: all 0.6s ease-in !important;
  transform: translateY(60px) !important;
  opacity: 0 !important;
}

.fadeIn {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

/* Smart scroll css */
.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%) !important;
  transition: all 0.3s ease-in-out !important;
}
.scrolled-up {
  transform: translateY(0) !important;
  transition: all 0.3s ease-in-out !important;
}
/* end Smart scroll css */

/* sidebar */
#sidebar {
  top: 50%;
  right: 0;
}
@media screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }
}
/* end sidebar */

/* hero section  */
#hero {
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  #hero #hero-title {
    font-size: 1.5rem !important;
  }
  #hero #hero-subtitle {
    font-size: 1rem !important;
  }
}
/* end hero section  */
