/* General */
html {
  scroll-behavior: smooth !important;
}
body {
  /* min-width: 360px; */
}
/* end general */

/*==========
  Custom CSS 
=============*/
/* nav bar */
.navbar-brand img {
  height: 60px;
  width: 60px;
}
.brand img {
  height: 60px;
  width: 60px;
}
.brand img:hover {
  transform: translateY(-5px);
  transition: 0.5s ease all;
}

/* skills section */
.skills-cards {
  margin: auto;
  max-width: 690px;
}
.block {
  text-align: center;
  vertical-align: middle;
}
.circle {
  border: 3px solid #33b5e5;
  border-radius: 50%;
  color: white;
  height: 110px;
  width: 110px;
  font-weight: bold;
  display: table;
  margin: 20px auto;
  transition: 0.5s ease all;
}
.circle p {
  vertical-align: middle;
  display: table-cell;
}
.circle:hover {
  transform: translateY(-7px);
}
/*==========
  End Custom CSS 
=============*/

/* Custom Hover States */
#project-card:hover {
  transform: translateY(-5px);
  transition: 0.5s ease all;
}

#social-links i:hover {
  transform: translateY(-5px);
  transition: 0.5s ease all;
  color: #33b5e5 !important;
}

#btn:hover {
  color: white !important;
  background-color: #33b5e5 !important;
  transition: 0.5s ease all !important;
}

strong:hover {
  color: #33b5e5 !important;
  transition: 0.3s ease all !important;
}

/* End Custom Hover States */

/* JS fade in on scroll */
.fadeOut {
  transition: all 0.6s ease-in !important;
  /* transform: translateY(60px) !important; */
  opacity: 0 !important;
}

.fadeIn {
  transform: translateY(-60px) !important;
  opacity: 1 !important;
}

/* Smart scroll css */
.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%) !important;
  transition: all 0.3s ease-in-out !important;
}
.scrolled-up {
  transform: translateY(0) !important;
  transition: all 0.3s ease-in-out !important;
}
/* end Smart scroll css */

/* sidebar */
#sidebar {
  top: 50%;
  right: 0;
}
@media screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }
}
/* end sidebar */

/* hero section  */
@media screen and (max-width: 500px) {
  #hero {
    margin-top: 200px;
  }
}

@media screen and (max-width: 320px) {
  #hero h1 {
    font-size: 3.5rem !important;
  }
}
/* end hero section  */
